<div class="container p-3">
  <h1><strong>My bookings</strong></h1>
  <br>
  <% @user = current_user %>
  <% @user.bookings.each do |booking| %>
    <div class="booking-card d-flex justify-content-between align-items-center bd-highlight">
      <div class="card-product my-4">
      <% if booking.lama.photos.first %>
        <%= cl_image_tag booking.lama.photos.first.key, crop: :fill %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1546273703-d2658be9de64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80" class="card-img-top" alt="lama">
      <% end %>
        <div class="card-product-infos">
          <h2><%= booking.lama.title %></h2>
          <p>From <strong><%= booking.start %></strong> to <strong><%= booking.end %></strong></p>
          <p>Total price : <strong><%= booking.lama.price %>€</strong></p>
          <p>For : <strong><%= booking.number_of_users %></strong> <%= booking.number_of_users == 1 ? "traveller" : "travellers" %></p>
          <p><%= booking.driver_manager ? "✅ driver" : "❌ driver" %></p>
          <p>Status : <%= booking.status == "pending" ? "pending" : "validated" %></p>
        </div>
      </div>
      <div class="card-booking-status text-center"><p>Booking status</p><i class="fas fa-hourglass-half fa-3x"></i></i></div>
    </div>
  <% end %>
</div>
