<br>
<br>
<div class="container">
  <h1><strong>My Dashboard</strong></h1>
<br>
<div class="tabs">

  <input type="radio" id="tab1" name="tab-control" checked>
  <input type="radio" id="tab2" name="tab-control">
  <input type="radio" id="tab3" name="tab-control">
  <ul>
    <li title="My rides"><label for="tab1" role="button"><br><span>My rides</span></label></li>
    <li title="Bookings for my lamas"><label for="tab2" role="button"><br><span>Bookings for my lamas</span></label></li>
    <li title="My lamas"><label for="tab3" role="button"><br><span>My lamas</span></label></li>
  </ul>

  <div class="slider"><div class="indicator"></div></div>
  <div class="content">
    <section>
      <h2>My rides</h2>
      <% @user = current_user %>
      <% unless @user.bookings.count == 0 %>
        <h2>My upcoming bookings</h2>
        <% @user.bookings.each do |booking| %>
          <div class="booking-card d-flex justify-content-between align-items-center bd-highlight" data-restaurant-id="<%= booking.id%>">
            <div class="card-product my-4">
              <% if booking.lama.photos.first %>
                <%= cl_image_tag booking.lama.photos.first.key, crop: :fill %>
              <% else %>
                <img src="https://images.unsplash.com/photo-1546273703-d2658be9de64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80" class="card-img-top" alt="lama">
              <% end %>
              <div class="card-product-infos p-3 d-flex">
                <div class="card-booking-infos lama-dates">
                  <i class="fas fa-calendar-alt"></i>
                  <p>From <strong><%= booking.start.strftime("%b %d") %></strong> to <strong><%= booking.end.strftime("%b %d") %></strong></p>
                </div>
                <div class="card-booking-infos lama-price">
                  <i class="fas fa-euro-sign"></i>
                  <p><strong><%= booking.lama.price.to_i %>€</strong></p>
                </div>
                <div class="card-booking-infos lama-travellers">
                  <i class="fas fa-user-friends"></i>
                  <p><strong><%= booking.number_of_users %></strong></p>
                </div>
                <div class="card-booking-infos lama-driver">
                  <i class="fas fa-map-signs"></i>
                  <p><%= booking.driver_manager ? "With a driver" : "No driver" %></p>
                </div>
                <div class="card-booking-infos booking-status">
                  <i class="fas fa-toggle-on"></i>
                  <p><%= booking.status == "pending" ? "Waiting for confirmation" : "Booking confirmed" %></p>
                </div>
              </div>
              <div class="user-actions d-flex flex-column">
                <div class="write-review">
                  <% if booking.status != "pending" %>
                    <%= link_to '<i class="fas fa-feather-alt" style="color:grey;"></i>'.html_safe, new_lama_review_path(booking.lama) %>
                  <% else %>
                  <% end %>
                </div>
                <div class="cancel-booking">
                  <%= link_to '<i class="fas fa-trash-alt" style="color:grey;"></i>'.html_safe, user_booking_path(@user, booking), method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
                </div>
              </div>
            </div>
          </div>       
        <% end %>
      <% end %></section>
        <section>
          <h2>Bbookings for my lamas</h2>
          <% @user = current_user %>
          <h2>Upcoming bookings for my lamas.</h2>
          <% @bookings.each do |booking| %>
            <% if booking.lama.user_id == @user.id %>
            <div class="booking-card d-flex justify-content-between align-items-center bd-highlight">
              <div class="card-product my-4">
              <% if booking.lama.photos.first %>
                <%= cl_image_tag booking.lama.photos.first.key, crop: :fill %>
              <% else %>
                <img src="https://images.unsplash.com/photo-1546273703-d2658be9de64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80" class="card-img-top" alt="lama">
              <% end %>
                <div class="card-product-infos">
                  <h2><%= booking.lama.title %></h2>
                  <p>From <strong><%= booking.start %></strong> to <strong><%= booking.end %></strong></p>
                  <p>Total price : <strong><%= booking.lama.price %>€</strong></p>
                  <p>For : <strong><%= booking.number_of_users %></strong> <%= booking.number_of_users == 1 ? "traveller" : "travellers" %></p>
                  <p><%= booking.driver_manager ? "✅ driver" : "❌ driver" %></p>

                </div>
                <% if booking.status == "pending" %>
                  <%= link_to "Validate", user_booking_path(@user, booking), method: :patch, class: 'btn btn-success' %>
                <% else %>
                  <%= link_to "Confirmed", "#", class: 'btn btn-primary float-right' %>
                <% end %>
              </div>
            </div>
            <% else %>
            <% end %>
          <% end %></section>
        <section>

          <h2>My lamas</h2>
            <div class="col-6">
              <h2>My own lamas</h2>
                <% @user = current_user %>
                  <% @lamas.each do |lama|  %>
                  <div data-restaurant-id='<%= lama.id %>'>
                    <%= link_to lama_path(lama) do %>
                      <div class="lama-list d-flex justify-content-between">
                        <div class="lama-avatar">
                          <% if lama.photos.first %>
                            <%= cl_image_tag lama.photos.first.key, crop: :fill, class: "avatar-square", height: 50, width: 50, alt: "avatar-square"%>
                          <% else %>
                            <img src="https://images.unsplash.com/photo-1546273703-d2658be9de64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80", class= "avatar-square", height= 50, width= 50, alt= "avatar-square">
                          <% end %>
                        </div>
                        <div class="lama-infos-small">
                          <p><%= lama.title %></p>
                          <%= link_to user_lama_path(@user, lama), method: :delete, remote: true, data: { confirm: "Are you sure?" } do %>
                            <i class="fas fa-trash-alt"></i>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
              </div>
            </div>
        </section>
    <section>
  </div>
</div>
</div>




