<!-- To be uncommented when lama model and controller present -->
<!-- -->

<%= link_to lama_path(lama), class: "cards" do %>
  <div class="card__inner">
    <figure class="card__img">
      <% if lama.photo.present? %>
        <img
          src='<%= "#{lama.photo_url(:placeholder)}" %>'
          data-lowsrc='<%= "#{lama.photo_url(:placeholder)}" %>'
          data-src='<%= "#{lama.photo}" %>'
          alt='<%= "#{lama.title}" %>'
          class="lazyload"
          />
      <% end %>
    </figure>
    <div class="card__body">
      <h3 class="card__title"><%= lama.title %></h3>
      <div class="card__price">$ <%= "#{lama.price}0" %> / day</div>
      </div>
    </div>
  </div>
<% end %>
