<div class="container pt-5">
  <h1><strong>Lamas</strong> in <%= params[:search] %></h1>
  <h3><%= @lamas.count %> 🦙</h3>
  <div class="main-container">
        <div class="cards">
          <% @lamas.each do |lama|  %>
            <%= link_to lama_path(lama) do %>
            <div class="card">
              <img src="https://source.unsplash.com/200x200/?lamas" class="card-img-top" alt="lama">
              <div class="card-body">
                <h5 class="card-title"><%= lama.title %></h5>
                <p class="card-text">$ <%= "#{lama.price}0" %> / day</p>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
        <div class="map">
          <img id="map" src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png' style="height: 800px">
        </div>
  </div>
</div>

