<div class="container pt-5">
  <% if params[:search] == nil %>
    <h1><strong>All lamas</strong></h1>
  <% else %>
    <h1><strong>Lamas</strong> in <%= params[:search] %></h1>
  <% end %>

  <p>Result : <strong><%= @lamas.count %> 🦙</strong></p>
    <div class="main-container">
      <div class="cards">
        <% @lamas.each do |lama|  %>
          <%= link_to lama_path(lama) do %>
            <div class="card">
              <% if lama.photos.first %>
                <%= cl_image_tag lama.photos.first.key, crop: :fill, class: "card-img-top"%>
              <% else %>
                <img src="https://images.unsplash.com/photo-1546273703-d2658be9de64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80" class="card-img-top" alt="lama">
              <% end %>
              <div class="card-body">
                <div>
                  <h2 class="lama-title"><%= lama.title %></h2>
                </div>
                <p class="card-trip-pricing"><%= lama.price.to_i %>€/day</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="map">
        <img id="map" src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png' style="height: 800px">
      </div>
    </div>
  </div>
</div>
