

<div class="form-registration">
  <div class="form-group">
    <h1>Add your lama :</h1>
    <%= simple_form_for @lama do |f| %>
      <%= f.input :title, :label => "Name of the lama" %>
      <%= f.input :description, :label => "A little description of your lama" %>
      <%= f.input :price, as: :integer, :label => "Price per day" %>
      <%= f.input :address, :label => "Location" %>
      <%= f.input :capacity, collection: 1..3, :label => "Number of riders your lama can carry" %>

      <%= f.input :photos, as: :file, input_html: { multiple: true }, :label => "Some pictures" %>
      <div class="form-actions">
      <%= f.button :submit, "Create lama!", class: 'btn btn-success btn-block' %>
      </div>
    <% end %>
  </div>
</div>
