<div class="container">
  <br>
  <br>
  <br>


  <%= render 'carousel' %>
  <div class="lama-details d-flex justify-content-between">
    <div class="lama-description bg-white col-7 my-4 py-3 px-5 border-rounded">
      <div class="lama-name mb-5">
        <h1><%= @lama.title %></h1>
        <p><%= @lama.description %></p>
      </div>
      <div class="lama-infos d-flex justify-content-between align-items-end">
        <div class="lama-location-people">
          <p><i class="fas fa-user-friends"></i> <%= @lama.capacity %> travellers</p>
          <p><i class="fas fa-map-marker-alt"></i> <%= @lama.address %></p>
        </div>
        <h2><%= @lama.price %>€ / day</h2>
      </div>
    </div>
    <div class="form-booking bg-white col-4 border-rounded">
      <div class="form-group">
        <h1>Book me :</h1>
        <%= simple_form_for [@lama, @booking] do |f| %>
          <%= f.input :start, :label => "From", as: :string, required: false, input_html: { id: "range_start" } %>
          <%= f.input :end, :label => "Until", as: :string, required: false, input_html: { id: "range_end" } %>
          <%= f.input :number_of_users, :label => "Number of riders on the lama", collection: 1..(@lama.capacity) %>
          <%= f.input :driver_manager %>
          <h4><%= @booking["end"] %></h4>
          <div class="form-actions">
          <%= f.button :submit, "Book #{@lama.title}", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

