<div class="container">
  <br>
  <br>
  <br>


  <%= render 'carousel' %>
  <div class="lama-details d-flex justify-content-between">
    <div class="lama-description bg-white col-7 my-4 border-rounded">
      <div class="lama-name mb-5">
        <h1><%= @lama.title %></h1>
        <p><%= @lama.description %></p>
      </div>
      <div class="lama-infos d-flex justify-content-between align-items-end">
        <div class="lama-location-people">
          <p><i class="fas fa-user-friends"></i> <%= @lama.capacity %> travellers</p>
          <p><i class="fas fa-map-marker-alt"></i> <%= @lama.address %></p>
        </div>
        <h2><%= @lama.price.to_i %>€ / day</h2>
      </div>
    </div>
    <div class="form-booking bg-white col-4 border-rounded">
      <div class="form-group">
        <h1>Book me :</h1>
        <%= simple_form_for [@lama, @booking] do |f| %>
          <%= f.input :start, :label => "From", as: :string, required: false, input_html: { id: "range_start" } %>
          <%= f.input :end, :label => "Until", as: :string, required: false, input_html: { id: "range_end" } %>
          <div>Number of riders on the lama</div>
          <div class="riders-number">
            <div class="less-button">-</div>
           <%= f.input :number_of_users, label: false, input_html: {max: @lama.capacity, value: 0} %>
           <!-- collection: 1..(@lama.capacity)  -->
           <div class="plus-button">+</div>
          </div>

          <%= f.input :driver_manager, :label => "I need a driver" %>
          <h4><%= @booking["end"] %></h4>
          <div class="form-actions">
          <%= f.button :submit, "Book #{@lama.title}", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="lama-description">

     <%= render 'reviews/show', lama: @lama, review: @reviews %>
  <div class="form-registration">
    <div class="form-group">
    <h1>Leave a review</h1>
     <%= render 'reviews/form', lama: @lama, review: @review %>
   </div>
 </div>
  </div>
</div>

